@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0;}
ul{ list-style: none;margin:0; padding:0; }
.clear {zoom: 1;}
.clear:after {content: ''; display: block; clear: both;}
/**上传附件**/
.upCool{ width: 1000px; margin:0 auto; padding-top: 10px; font-family: "微软雅黑"; font-size: 14px;}
.upCool .ieIframe{display: none;}
.upCool .fileWrap{ float: right; position: relative; width: 80px; height: 26px; border-radius: 2px;}
.upCool .upFile{position: absolute; left: 0; top:0; opacity: 0; filter:alpha(opacity=50); width: 80px; height: 26px; z-index: 2;}
.upCool .fileBg{ position: absolute; left: 0; top:0; z-index: 1;}
.upCool .upSub{display:none; float: right; margin-right: 10px; }
.upCool .btn{ cursor: default; width: 80px; height: 26px; border: 1px solid #c8c8c8; border-radius: 2px;line-height: 26px; color: #000; text-align: center; }
.upCool .table{ clear: both; width: 100%; margin-top: 10px; border: 1px solid #c8c8c8; }
.upCool .col{ float: left; text-align: center; height: 30px; line-height: 30px;}
.upCool .c1{ width: 300px; padding-left: 10px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;} 
.upCool .tbody .c1{ text-align: left; }
.upCool .c2 ,.upCool .c4{ width: 140px; border-left:1px solid #c8c8c8;  border-right:1px solid #c8c8c8;}
.upCool .c5{ width: 100px; border-right:1px solid #c8c8c8; } 
.upCool .c3,.upCool .c6{ width: 150px; } 
.upCool .clomun{ clear: both; border-top:1px solid #c8c8c8;}
.upCool .Delete ,.upCool .Download ,.upCool .Pause{ display: inline-block; cursor: pointer; margin:0 4px;}
.upCool .noData{ width: 100%; height: 26px; line-height: 26px; text-align: center; }